* {
    box-sizing: border;
    margin: 0;
    padding: 0;
}

:root {}

body {
    font-size: 19px;
}

.main {
    /* max-width: 1600px;
    /* min-width: 360px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}


.hero {
    top: 0%;
    align-content: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(6, 1fr);
}



.slogan--1 {
    z-index: 10;
}

.slogan--2 {
    z-index: 10;
}


.photo--1 {
    position: relative;
    background-image: url('../media/photo/emmanuel-ikwuegbu-ZsObS42_i_0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover;
    filter: saturate(0%)contrast(0.9);
    z-index: 5;
}


.photo--2 {
    background-image: url('../media/photo/piotr-chrobot-6oUsyeYXgTg-unsplash.png');
    background-repeat: no-repeat;
    background-size: contain, cover;
    filter: saturate(0%)contrast(0.9) brightness(150%);
    z-index: 3;
}


.grid__text {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(50, 8.33vw);
}



.when_text {
    max-width: 560px;
}






.photo--3 {
    background-image: url('../media/photo/muhammadtaha-ibrahim-ma-aji-anwtuO4gNqc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain, cover;
    filter: saturate(0%)contrast(1.1) brightness(90%);
    z-index: 5;
}


.graphic--1 {
    background-image: url('../media/svg/noun_covid-19_3776320.svg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: opacity(40%);
    transform: rotate(8deg);
    z-index: -10;
}


.introduce-fund {
    max-width: 560px;
}



.graphic--2 {
    background-image: url('../media/svg/noun_covid\ research_4276452.svg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: opacity(40%);
    z-index: -3;
}



.photo--4 {
    background-image: url('../media/photo/emmanuel-ikwuegbu-_TyO_4qQizU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: saturate(0%)contrast(1.1) brightness(90%);
    z-index: 5;

}

ul {
    list-style: outside none none;
}


.results .stats li {
    padding-top: 1rem;
    max-width: 560px;
    display: flex;
    justify-content: space-between;
}

.results .stats p {
    width: 80%;
    align-self: center;
}

.results .stats img{
    height: 6rem;
    width: 20%;
    align-self: center;
    opacity: 0;
}




/* 
.results .stats .ppe {
    background-color: red;
}

.results .stats .ppe img{
    background-color: pink;
}

.results .stats .tests p {
    background-color: green;
}

.results .stats .tests img {
    background-color: lightgreen;
}

.results .stats .intensive-care p {
    background-color: blue;
}

.results .stats .intensive-care img {
    background-color: lightblue;
}

.results .stats .respirator-masks p{
    background-color: purple;
}

.results .stats .respirator-masks img{
    background-color: violet;
}


.results .stats .emergency-teams p{
    background-color: orange;
}

.results .stats .emergency-teams img{
    background-color: yellow;
}
 */



