
.anim1,
.anim-when {
    opacity: 0;
}


@keyframes anim1 {
    from {
        /* transform: translateY(-20px); */
        opacity: 0;
    }

    to  {
        /* transform: translate(0); */
        opacity: 1;
    }
}



.anim-list-item{
    opacity: 0;
}


@keyframes anim-list-item {
    from {
        transform: translatex(-2vw);
        opacity: 0;
    }

    to  {
        transform: translateX(0);
        opacity: 1;
    }
}

.anim-subheading{
    opacity: 0;
}


@keyframes anim-subheading {
    from {
        transform: translateY(-2vw);
        opacity: 0;
    }

    to  {
        transform: translateY(0);
        opacity: 1;
    }
}

.anim-spacer{
    opacity: 0;
}


@keyframes anim-spacer {
    from {
        transform: translateX(-6vw);
        opacity: 0.8;
    }

    to  {
        transform: translateX(0);
        opacity: 1;
    }
}




.anim3 {
    opacity: 0;
}


@keyframes anim3 {
    0% {
        transform: scale(0.96);
        opacity: 0.6;
    }

    50% {
        transform: scale(1);
        opacity: 0.9;
    }


    100% {
        transform: scale(1);
        opacity: 1;
    }

}


.anim4 {
    opacity: 0;
}


@keyframes anim4 {
    0% {
        transform: scale(0.97);
        opacity: 0.9;
    }



    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.anim5,
.you__colourbox {
    opacity: 0;
}


@keyframes anim5 {
    0% {
        /* transform: scale(0.9); */
        opacity: 0;
    }



    100% {
        /* transform: scale(1); */
        opacity: 1;
    }

}

@keyframes results-svg {
    0% {
        /* transform: translateY(-300px);  */
        opacity: 0.9;
        transform: scale(3);
    }

    100% {
        /* transform: translateY(0px); */
        opacity: 1;
        transform: scale(1);
    }
}

